#quote-box {
  width: 500px;
  padding: 20px;
  background-color:hsl(34, 78%, 91%);
  border-radius: 10px;
  border: 1px solid salmon;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.quote_container {
  text-align: justify;

}

.button_holders {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

h2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

#tweet-quote {
  padding: 10px;
  background-color: rgb(74, 157, 226);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;

}

button {
  background-color: brown;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

